{% extends "layout.twig" %}
{% block content %}

<main class="account_page">
    <span class="separation titre d-flex flex-column">
        <img src="../assets/icons/account.svg">
        <h2>Compte client</h2>
    </span>

    <div class="parent_div">
        <div class="wrapper row">

            <div class="box col-lg-4 col-sm-12">
                <h4>Compte</h4>

                <div id="account_infos" class="display_and_form">
                    <span id="mail" data-label="Adresse email">{{ user.email }}</span>
                    <span id="password" data-label="Mot de passe (obligatoire)" data-type="password">{{ user.password }}</span>
                    <span id="new_password" data-label="Nouveau mot de passe (option)" data-validate="false" data-type="password"></span>
                </div>
            </div>

            <div class="box col-lg-4 col-sm-12">
                <h4>Adresse</h4>

                <div id="client_infos" class="display_and_form">
                    <span id="first_name" class="inline" data-label="Prénom">{{ client.firstname }}</span>
                    <span id="last_name" data-label="Nom">{{ client.lastname }}</span>

                    <span id="address" data-label="Adresse">{{ client.address }}</span>

                    <span id="cp" class="inline" data-label="Code postal">{{ client.postal_code }}</span>
                    <span id="city" data-label="Ville">{{ client.city }}</span>
                </div>
            </div>

            <div class="box col-lg-4 col-sm-12">
               <h4>Commandes</h4>

               <div id="command_infos">
                    <span id="done">{{ nb_orders }} commandes réalisées</span>
                    <span id="received">{{ nb_received_orders }} commandes réceptionnées</span>
                    <span id="processing">{{ nb_processed_orders }} commande en cours de traitement</span>
                </div>
            </div>

        </div>

        <button class="set_to_form">Modifier</button>
    </div>

</main>

{% endblock %}
