{% extends "layout.twig" %}
{% block content %}

<main class="cart">
    <span class="separation titre d-flex flex-column">
        <img src="../assets/icons/buy.svg">
        <h2>Mon panier</h2>
    </span>

    <div class="wrapper row">

        <div class="box col-lg-6 col-sm-12">
            {% for article in cart_articles %}
                <img class="item" src="../assets/images/{{ article.images[0].name }}.jpg">
            {% endfor %}
        </div>

        <div class="box col-lg-6 col-sm-12">
            {% for article in cart_articles %}
                <div class="info d-flex">
                    <span>
                        <h3>{{ article.name }} x
                            <span class="quantity">
                                {{ cart_quantities[article.id] }}
                            </span>
                        </h3>
                        <span class="plus">+</span>
                        <span class="minus">-</span>
                    </span>
                    <span class="price">{{ (article.price*cart_quantities[article.id]) | number_format(2, ',', ' ') }} €</span>
                </div>
            {% endfor %}

            <p class="total">Total: <span>
                {{ total | number_format(2, ',', ' ')  }} €
            </span></p>

            <button>Valider</button>
        </div>
    </div>
</main>

{% endblock %}
