{% extends "layout.twig" %}
{% block content %}

<main class="shop">

    <span class="separation d-flex flex-column">
        <img src="../assets/icons/list.svg">
        <h2>Catalogue</h2>
    </span>

    <div class="wrapper">

        {# Filter and search fields #}
        <form action="" method="get" class="d-flex justify-content-between">
            <img src="../assets/icons/search.svg">

            <fieldset class="search_inputs">
                <label for="search">Rechercher un produit</label>
                
                <div>
                    <input id="search" name="search" type="text" value="{{ param_search }}">
                    <button type="submit">Filtrer</button>
                </div>
            </fieldset>

            {# Filter on prices ; auto check the selected value #}
            <fieldset>
                <div class="group">
                    <input
                        type="radio"
                        name="price"
                        id="less_10"
                        value="less_10"
                        {% if param_price == "less_10" %} checked="checked" {% endif %}>
                    <label for="less_10">Moins de 10€</label>
                </div>

                <div class="group">
                    <input
                        type="radio"
                        name="price"
                        id="less_30"
                        value="less_30"
                        {% if param_price == "less_30" %} checked="checked" {% endif %}>
                        
                    <label for="less_30">Moins de 30€</label>
                </div>

                <div class="group">
                    <input
                        type="radio"
                        id="all"
                        name="price"
                        value="all"
                        {% if (param_price == null) or (param_price == "all") %} checked="checked" {% endif %}>
                    
                    <label for="all">Tous</label>
                </div>
            </fieldset>

            {# filters on categories ; auto check the selected value #}
            <fieldset>
                {% for category in categories %}
                    <div class="group">
                        <input
                            type="radio"
                            name="plant"
                            id="{{ category.id }}"
                            value="{{ category.id }}"
                            {% if param_category == category.id %} checked="checked" {% endif %}>
                    
                        <label for="{{ category.id }}">{{ category.name }}</label>
                    </div>
                   
                {% endfor %}
                
                <div class="group">
                    <input
                        type="radio"
                        name="plant"
                        id="in_out"
                        value="all"
                        {% if (param_category == null) or (param_category == "all") %} checked="checked" {% endif %}>
                    <label for="in_out">Toutes</label>
                </div>
            </fieldset>

        </form>

        <div class="content d-flex justify-content-between">
            {% if articles | length > 0 %}
                {% for article in articles %}
                    <a href="/produit/{{ article.id }}" class="item">
                        {% if article.images()[0] != null %}
                            <img src="../assets/images/{{ article.images()[0].name }}.jpg">
                        {% endif %}
                        <h3>{{ article.name }}</h3>
                        <span class="price">{{ article.price|number_format(2, ',', ' ') }} €</span>
                    </a>
                {% endfor %}
            
            {% else %}    
                Aucun article ne semble correspondre à votre recherche... :(
            {% endif %}
        </div>
        
        <div class="paginator">
            {% if nb_pages > 1 %}
                {% for i in 1..nb_pages %}
       
                   {% if i == current_page %}
                        <span>{{ i }}</span>
                    
                    {% else %}
                        {# we keep all current parameters #}
                        <a href="/catalogue?page={{ i }}&search={{ param_search }}&price={{ param_price }}&plant={{ param_plant }}">{{ i }} </a>
                        
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    


</main>

{% endblock %}
